<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gvs.controlpanel"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gvs.controlpanel.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<!-- 灯光 -->
        <activity
            android:name="com.gvs.controlpanel.activity.light.LightActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- 设置 -->
        <activity
            android:name="com.gvs.controlpanel.activity.SetActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- 背景图替换-->
        <activity
            android:name="com.gvs.controlpanel.activity.BjtActivity"
            android:label="@string/app_name" >
        </activity>
		<!-- 家庭影院 -->
        <activity
            android:name="com.gvs.controlpanel.activity.hometheatre.HomeTheatreActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- 窗帘 -->
        <activity
            android:name="com.gvs.controlpanel.activity.curtain.CurtainActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- 空调 -->
        <activity
            android:name="com.gvs.controlpanel.activity.aircondition.AirConditionActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- 电视机 -->
        <activity
            android:name="com.gvs.controlpanel.activity.tv.TVActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- 背景音乐 -->
        <activity
            android:name="com.gvs.controlpanel.activity.backgroundmusic.BgMusicActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- 场景 -->
        <activity
            android:name="com.gvs.controlpanel.activity.scene.SceneActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- 安防监控 -->
        <activity
            android:name="com.gvs.controlpanel.activity.securitymonitor.SecurityMonitorActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
